<h1>Landing Page</h1>
<h3>This is a homepage where one can submit their contact info</h3>
<h1>New Contact</h1>
<form action="/contacts" method="POST">
  <div>
  	<label for="first_name">First Name: </label>
  	<input id="first_name" type="text" name="contact[first_name]">
  </div>
  <div>
  	<label for="phone">Phone: </label>
  	<input id="phone" type="tel" name="contact[phone]">
  </div>
  <div>
  	<label for="email">Email: </label>
  	<input id="email" type="email" name="contact[email]">
  </div>
  <div>
  	<label for="link">Resume URL: </label>
  	<input id="link" type="text" name="contact[link]">
  </div>
  <div>
  	<input type="submit">
  </div>

</form>